.game {
  display: flex;
}
.cards {
  display: inline-block;
}
#deck {
  border: 1px solid black;
  height: 340px;
  width: 225px;
}
#pile {
  max-height: 340px;
  margin-left: 2rem;
}
#pile > .card {
  height: 340px;
  width: 50px;
  background: white;
  display: inline-block;
  padding: 1rem;
  border: 1px solid black;
  border-right: none;
  box-sizing: border-box;
}
#pile > .card:last-child {
  width: 225px;
  border-right: 1px solid black;
}
.red {
  color: red;
}